html, body{
    height: 100%;
     background-image: url(Gemini_Generated_Image_50nzad50nzad50nz.png );
    background-repeat: no-repeat;
    background-size:cover;

}
.form-container{
    max-width: 400px;
    padding: 3rem;
    background-color: black;
}
